
$bg-default: rgba(225, 234, 249, 1);
$bg-blue:  rgba(28, 83, 189, 1);
$bg-dark-blue:  rgba(20, 25, 44, 1);
$bg-teal:  rgba(0, 138, 146, 1);


$text-white: #fff;
$logo-color: #14192C;
$roboto-mono: "Roboto Mono", serif;
$roboto-flex: "Roboto Flex", serif;

