@use "../../ui/styles/mixins" as mixins;
@use "../../ui/styles/theme";
@use "../../ui/styles/variables";

.footer {
  &__section {
    @include mixins.display(center, unset, unset, unset);
  }

  &__section-nav {
    @include mixins.display(center, unset, unset, unset);
    list-style: none;
    gap: 1.5rem;

    a {
      text-decoration: none;
      transition: color 0.3s ease, opacity 0.3s ease;

      &:hover {
        opacity: 0.7;
        color: red;
      }
    }

    svg path {
      transition: fill 0.3s ease;
    }
  }

  &__item {
      cursor: pointer;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.7;
      }
    }
}


