@use "../../ui/styles/mixins" as mixins; 
@use "../../ui/styles/variables" as variables;
@use "../../ui/styles/theme";




.main {
    @include mixins.size(unset, 100vh);
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    position: relative;
    mix-blend-mode: lighten;
  
    &__logo-right {
      @include mixins.position(0,0,unset,unset);
      @include mixins.size(50vw, 50vw);
      pointer-events: none;
      mix-blend-mode: overlay;
  
      svg {
        @include mixins.size(100%, 100%);
        transform: translate(50%, -20%);
        pointer-events: none;
        path {
          opacity: 100%;
        }
      }
    }
  
 
  
    // &__page-1 {
    //   background-color: variables.$bg-default;
  
    //   &-button {
    //     @include mixins.size(64px, 64px);
    //     border-radius: 100%;
    //     background-color: rgba(28, 83, 189, 1);
    //     border-color: transparent;
    //     color: variables.$text-white;
    //     position: relative;
    //     overflow: hidden;
    //     border-radius: 50%;
    //     cursor: pointer;
    //     svg{
  
    //       @include mixins.size(25px, 100%);
    //       &:hover{
    //         animation: fadeUp 1s;
           
    //       }
          
    //     }
    //     &:hover{
    //       opacity: 0.8;
    //     }
    //   }
    // }
  
    &__page-2 {
      background-color: variables.$bg-blue;
      &--title-medium-small {
        font-size: 20px;
      }
    }
  
    &__page-3 {
      background-color: variables.$bg-dark-blue;
    }
  
    &__page-4 {
      background-color: variables.$bg-teal;
    }
  
    &__page-5 {
      background-color: variables.$bg-default;
      &--container {
        @include mixins.display(unset, unset, column);
        gap: 30px;
      }
    }
  }
  
  .main-nav {
    @include mixins.position(0,0,unset,unset);
    @include mixins.size(unset, 100vh);
    padding-right: 35px;
  
    &__container {
      @include mixins.display(start, unset, column, center);
      @include mixins.size(unset, 100%);
      gap: 10px;
      animation-fill-mode: forwards; 
  
      a {
        
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
      }
  
      &:hover {
        a {
          visibility: visible;
          animation: fadeMenu 0.8s normal; 
         opacity: 1;
  
        }
    
      }
  
      &:not(:hover) {
        a{
          visibility: visible !important;
          animation: fadeOut 0.8s forwards; // Animación al quitar el hover
          opacity: 0.5;
        }
      }
    }

  }
  

  
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeMenu {
    from {
      opacity: 0;
    
    }
    to {
      opacity: 1;
     
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
  
    }
    to {
      opacity: 0;
   
    }
  }

  @keyframes fadeUp {
    0% {
      transform: translateY(0); /* Posición inicial */
    }
    50% {
      transform: translateY(50px); /* Bajar */
    }
    51% {
      transform: translateY(-100%); /* Aparecer desde arriba */
    }
    100% {
      transform: translateY(0); /* Volver a la posición inicial */
    }
  }

.main__page-1,
.main__page-2,
.main__page-3,
.main__page-4,
.main__page-5 {
  &--conteiner {
    animation: fadeIn 0.8s ease-out;
  }

}
